html {
    height: 100%;
}

body {
    height: 100%;
}

/*================================
    NAVBAR SECTION STYLES
 ============================  */
.navbar-inverse {
    background-color: rgba(16, 16, 16, 0.9);
}

.navbar-inverse .navbar-nav>li>a {
    color: #FF9B00;
}

.navbar-inverse .navbar-brand {
    color: #FF9B00;
}

/*================================
    CONTENT SECTION STYLES
 ============================  */
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}

.form-control:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #FF9B00;
}

.form-control, .btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

/*================================
    FOOTER SECTION STYLES
 ============================  */
footer {
    height: 40px;
    padding: 10px;
    color: #FF9B00;
    font-size: 16px;
    background-color: rgba(16, 16, 16, 0.9);
    text-align:center;
}

footer a, footer a:hover, footer a:focus {
    color: #FF9B00;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}

/*================================
    COMPONENTS SECTION STYLES
 ============================  */
.label {
    margin-right: 1px;
}


.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}

.fill{
    width:100%;
    height:800px;
    background-position:center;
    background-size:cover;
}

.carousel-caption {
    left: 10%;
    right: 10%;
    bottom: auto;
    top: 200px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.feature {
    padding-bottom: 20px;
    text-align: center;
    height: 140px;
}

.feature-cell {
    border: 1px rgba(16, 16, 16, 0.9) solid;
}

.feature h4 {
    margin-top: 0px;
}

.icon-wrapper {
    font-size: 50px;
    color: #8E8E8E;
}

.start-bouton {
    background-color: #FF9B00;
    border-radius: 0px;
    color: white;
}

.login-bouton {
    margin: 10px;
    background-color: #FF9B00;
    color: white;
}

#more-features {
    background-color: rgba(16, 16, 16, 0.9);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
#more-features a {
    color: #FF9B00;
    font-size: 20px;
    text-decoration: none;
}

#more-features a:hover {
    color: white;
}

#features {
    text-align: center;
    height: 800px;
    margin: 0 auto -40px;
    padding-top: 100px;
}

#presenter {
    min-height: 100%;
}

.feature a {
    text-decoration: none;
    color: black;
}

.forfait-standard {
    border-color:  #FF9B00;
}

.forfait-standard > .panel-heading {
    background-color:  #FF9B00;
    color: white;
}

.forfait-standard > .panel-footer > a {
    background-color:  #FF9B00;
    border-color:  #FF9B00;
    color: white;
}

.forfait-decouverte {
    border-color:  rgba(16, 16, 16, 0.6);
}

.forfait-decouverte > .panel-heading {
    background-color:  rgba(16, 16, 16, 0.6);
    color: white;
}

.forfait-decouverte > .panel-footer > a {
    background-color:  rgba(16, 16, 16, 0.6);
    border-color:  rgba(16, 16, 16, 0.6);
    color: white;
}

.forfait-entreprise {
    border-color:  rgba(16, 16, 16, 0.4);
}

.forfait-entreprise > .panel-heading {
    background-color:  rgba(16, 16, 16, 0.4);
    color: white;
}

.forfait-entreprise > .panel-footer > a {
    background-color:  rgba(16, 16, 16, 0.4);
    border-color:  rgba(16, 16, 16, 0.4);
    color: white;
}

.panel-heading > h4 {
    font-weight: bold;
    font-size: 2em;
}

.panel-footer > a {
    font-weight: bold;
}

#features-header a {
    /*background-color: #c5c5c5;*/
    color: #848484;
}

